<h1 class='h1'>Exercises</h1>
<ul><li>Try to simplify the code in the previous example by moving the nested fs.stat() function call off into it's own separate function.<li>Write a program (with readable code), using only the asynchronous 'fs' library functions to do the following; <ul><li>create a list of all the files in a directory and it's sub-directories<li>output the list of files only when scanning is complete (every entry in the directory and it's sub-directories has been checked)</ul></ul>
