<h1 class='h1'>Installing JavascriptMVC</h1>

<p>If you have the appDev framework, then it already comes packaged with JavascriptMVC. But if you were to use JavascriptMVC by itself, here's how.</p>

<ul>
    <li>To install JavascriptMVC, proceed to the site below and click the download link:
        <ul>
            <li><a href='http://javascriptmvc.com/'>http://javascriptmvc.com/</a> 
        </ul>
    
    <li>Unzip the file to your webserver or other location accessible to your web applications. 
    
    <li>More detailed installation instructions can be found on this page; 
        <ul>
            <li><a href='http://javascriptmvc.com/docs.html#!installing'>http://javascriptmvc.com/docs.html#!installing</a>
        </ul>
    
</ul>
