<h1 class='h1'>What is node.js?</h1>
<ul>
<li>An event driven, asynchronous I/O software system.</li>

<li>Supports the development of highly scalable web applications.</li>

<li>Based on the V8 Javascript engine.</li>

<li>Written in 2009 by Ryan Dahl, an employee of Joyent.</li>

<li>The runtime environment is built into webOS which runs on the HP Touchpad</li>
</ul>

<iframe width="560" height="315" src="http://www.youtube-nocookie.com/embed/jo_B4LTHi3I?rel=0&start=23" frameborder="0" allowfullscreen></iframe>