<h1 class='h1'>npm Installation</h1>
<ul>
<li>If you downloaded the mac or windows installer for node.js, npm should already be installed. 
<li>If you compiled node yourself, please follow the instructions found at the link below to install npm;
<ul><li><a href='http://npmjs.org/'>http://npmjs.org/</a>
</ul>
</ul>
