<h1 class='h1'>Node Modules</h1>

<p>In addition to built-in libraries, node has access to 3rd party libraries, which are also known as modules.</p>

<p>These modules range from simple things like letting you add color to your console messages (<i>ansi-color</i>), to accessing a database (<i>mysql</i>), to giving you a rich feature filled web framework (<i>express</i>). The official lists of modules are <a href="http://nodejs.org/api/appendix_1.html" target="_blank">here</a> and <a href="https://github.com/joyent/node/wiki/modules" target="_blank">here</a>.

<p>In this section, we will be looking at a few of the modules commonly used for creating applications in Node.</p>
