<h1 class='h1'>JavascriptMVC View</h1>
<ul>
<li>JavascriptMVC's View layer is essentially client side templates. 
<li>In JavascriptMVC and the new appDev, many of the changes to the View are handled through the Controller which responds to events.
<li>Please refer to the earlier sections on ejs templates and JavascriptMVC Controllers for more information. 
<li>Additional documentation for JavascriptMVC's View layer can be found at;
<ul><li><a href='http://javascriptmvc.com/docs.html#!mvc.view'>http://javascriptmvc.com/docs.html#!mvc.view</a></ul>
