<h1>Anatomy of a Module</h1>

<p>A module is an application that is loaded into the appDev framework. Each module has its own directory under the the <samp>modules/</samp> directory from the framework's root. The name of the module's directory is the the name of the module. The <samp>site</samp> module is a special case that is part of the framework itself. It contains essential components like the login interface.</p>

<h2>File Layout</h2>
<p>Mouse over each item to see more.<br/>
(Brought to you by the CSS :hover selector.)</p>
<p>
    <ul class="module-hierarchy">
        <li>appDev/
            <div class="caption">This is the root directory of the appDev framework.</div>
        </li>
        <ul>
            <li>modules/
                <div class="caption">This is the directory where all the modules will be located.</div>
            </li>
            <ul>
                <li>HRIS/
                    <div class="caption">This is just an example module called "HRIS".</div>
                </li>
                <ul>
                    <li>node_HRIS.js
                        <div class="caption">
                            <p>The module definition. Note that it is named <samp>node_[moduleName].js</samp></p>
                            <p>This file is responsible for gathering the information necessary to run the appication.<ul>
                                <li>which pages are available to present to the client</li>
                                <li>Model definitions to interact with the DB</li>
                                <li>etc...</li>
                            </ul></p>
                        </div>
                    </li>
                    <li>interfaces/
                        <div class="caption">Modules can have numerous pages/interfaces to offer the client. Each interface has its own sub-directory, and they are contained in this directory.</div>
                    </li>
                    <li>models/
                        <div class="caption">This contains models that are common to all the interfaces of the module. Models that are specific to only one interface will be located in the <i>interfaces/</i> directory above.</div>
                    </li>
                    <li>data/
                        <div class="caption">Anything else that will be sent to the client goes in here. This includes images and Javascript files to be included in the browser. That means widgets too.</div>
                    </li>
                    <ul>
                        <li>scripts/
                            <div class="caption">Any Javascript file you put in here will automatically be included every time the module is loaded.</div>
                        </li>
                    </ul>
                </ul>
            </ul>
        </ul>
                    
    </ul>
</p>

<h2>More</h2>
<p>Use the sidebar on the left to get details on Models, Views,  Interfaces, and Containers.</p>

