<h1>Anatomy of a Module</h1>

<p>A module is an application that is loaded into the appDev framework. Each module has its own directory under the the <samp>modules/</samp> directory from the framework's root. The name of the module's directory is the the name of the module. The <samp>site</samp> module is a special case that is part of the framework itself. It contains essential components like the login interface.</p>

<h2>File Layout</h2>
<p>Mouse over each item to see more.<br/>
(Brought to you by the CSS :hover selector.)</p>
<p>
    <ul class="module-hierarchy">
        <li>appDev/
            <div class="caption">This is the root directory of the appDev framework.</div>
        </li>
        <ul>
            <li>modules/
                <div class="caption">This is the directory where all the modules will be located.</div>
            </li>
            <ul>
                <li>HRIS/
                    <div class="caption">This is just an example module called "HRIS".</div>
                </li>
                <ul>
                    <li>data/
                    </li>
                    <ul>
                    	<li>install/
                    		<div class="caption">Any translation files (*.po) and sql install files are stored in this directory.</div>
                    	</li>
                    </ul>
                    <li>models/
                        <div class="caption">This contains models that are common to all the pages of the module.</div>
                    </li>
                    <li>server/
                    	<div class="caption">This contains services that are common to all the pages of the module.</div>
                    </li>
                    <li>titanium/
                    	<div class="caption">This contains files for the titanium version of this module.</div>
                    </li>
                    <li>web/
                    </li>
                    <ul>
                    	<li>pages/
                    	</li>
                    	<li>resources/
                    	</li>
                    	<ul>
                    		<li>css/
                    			<div class="caption">Any css files for the module are put into this directory.</div>
                    		</li>
                    		<li>images/
                    			<div class="caption">Any image files for the module are put into this directory.</div>
                    		</li>
                    		<li>scripts/
                    			<div class="caption">Any script files for the module are put into this directory.</div>
                    		</li>
                    </ul>
                    <li>def_HRIS.js
                    	<div class="caption">
                    		<p>The page definition. Note that it is named <samp>def_[pageName].js</samp></p>
                            <p>This file is responsible for gathering the information necessary to run the appication.<ul>
                            <li>creates routes for application</li>
                            <li>Model definitions to interact with the DB</li>
                            <li>etc...</li>
                            </ul></p>
                    	</div>
                    </li>
                </ul>
            </ul>
        </ul>
                    
    </ul>
</p>

<h2>More</h2>
<p>Use the sidebar on the left to get details on Models, Views,  Pages, and Containers.</p>