<h1 class='h1'>StealJS</h1>

<p>In many modern web applications, client side JavaScript is heavily relied on. There can be dozens of .js scripts being loaded for every page on a site. Often, one or more of these scripts relies on the presence of another script in order to function properly.</p>

<p>So if all the scripts are not loaded in the correct order, the application can fail without any clear indication of what went wrong. That's where Steal comes in. You can use StealJS to ensure a dependency is fully loaded before performing other actions. </p>

<h3>Example</h3>
<p>The following code ensures <i>jquery-ui.js</i> is loaded before calling its functions:</p>
<pre class='code-highlight'>
    steal('jquery-ui.js').then(function() {
        
        $('button').button();
        $('#my-dialog').dialog();
    
    });
</pre>

<h3>More</h3>
<p>You can read further details <a href="http://v3.javascriptmvc.com/docs/steal.html#&who=steal" target="_blank">here</a>.</p>