<p><div id="logoImg"><img src="<%= tutorialPath %>/logo.png" title='click me!'/></div></p><br/><br/>

<h1>appDev Framework</h1>

<img style="float: right; margin: 1em;" src="<%- tutorialPath %>/layers.png" />
<p>We provide a set of tools/objects that sit on the client and the server to help these other off the shelf frameworks to work together smoothly.</p>

<p>We provide:
    <ul>
        <li>dynamic multilingual capabilities on the client</li>
        <li>authentication</li>
        <li>Model CRUD connections</li>
        <li>server side file organization scheme supporting numerous applications on a single installation</li>
        <li>RAD Tool: easily create the framework glue to build applications</li>
        <li>persistent connections between multiple clients and the server and between clients</li>
    </ul>
</p>

<p>The appDev source code comes packaged with:
    <ul>
        <li>jQuery</li>
        <li>jQueryUI</li>
        <li>javascriptMVC</li>
    </ul>
    
</p>