<h1 class='h1'>JavascriptMVC Introduction</h1>
<ul>
<li>JavascriptMVC is a modular framework which can help you quickly create maintainable javascript applications in the Model-View-Controller architecture.<li>We'll use it in the new appDev framework to ensure our code is organized in an accessible, easy to understand manner and to quickly implement and access REST services<li>JavascriptMVC has multiple modules but we'll mainly be using it's dependency manager -StealJS and the JQuery MVC extensions module<li>Documentation can be found here; <ul><li><a href='http://javascriptmvc.com/docs.html'>http://javascriptmvc.com/docs.html</a></ul></ul>
