<h1 class='h1'>File System Library</h1>
<ul>
    <li>A second useful built-in library is the 'fs' library -short for 'file system'</li>
    <li>This library takes care of file I/O</li>
    <li>All functions in the 'fs' library have two versions; ie. fs.readdir() vs. fs.readdirSync().</li>
    <ul>
        <li>The 'Sync' stands for <i>synchronous</i>. This is the type of function that you would be familiar with coming from a C++ or PHP background. You call the function, wait for it to finish executing, and it returns with a value.</li>
        <li>Functions without 'Sync' in their name are <i>asynchronous</i>. These functions return immediately without necessarily having finished their task. For instance, you would not be forced to wait for a long SQL query to complete before regaining control of the program. We will explore these in more detail later.</li>
    </ul>
</ul>

<p>Let's look a simple example next.</p>
