<h1 class='h1'>Exercise</h1>
<ul><li>As an exercise, complete the function for scanning the directory entries and adding file entries to an array list and also the function for deleting files. <ul><li>Use only asynchronous calls from the file system library and next() to move to control of the application to the next step in the sequence.</ul></ul>
